.header{
    background-color: rgb(243, 51, 83);
    height: 150px;
    padding: 15px;
}

.tituloHeader h2{
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.registroHeader{
    display: grid;
    justify-content: center;
    font-size: 40px;
    border: 1px solid black;
    border-radius: 30px;
    width: 300px;
    background-color: rgb(247, 54, 54);
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}