/*   
    PROGRAMADORA: VANESSA NOEMÍ CALDERÓN BELTRÁN
    GRUPO: 2-1 
*/

.containerRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 136, 145);
  }
  
  .recuadroRegistro {
    background: #e9afe5;
    padding: 50px;
    border-radius: 30px;
    border: 2px solid;
    border-color: rgb(77, 16, 77);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .h2Registro {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #521463;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
  }
  
  .inputsRegistro {
    margin-bottom: 15px;
  }
  
  .etiquetaRegistro {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  
  .inputRegistro {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid rgb(77, 16, 77);
    background-color: rgb(210, 164, 237);
    border-radius: 20px;
    font-size: 16px;
  }

  ::placeholder{
    color: #000000;
  }
  
  .buttonRegistro {
    width: 50%;
    padding: 15px;
    background-color: rgb(210, 164, 237);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(77, 16, 77);
    border-radius: 50px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 25%;
  }
  
  button:hover {
    background-color: rgb(192, 117, 235);
    color: white;
  }